obj/
[Ii]pch/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
[Aa]nalyze*/
_ReSharper*/
[Tt]est[Rr]esult*
*Inspector XE Results*/
aspnet_client
Thumbs.db
*.ipch
*.aps
*.vspscc
*.ncb
*.suo
*.opensdf
*.ilk
*.sdf
*.vsp
/external
*.so
*.a
install_manifest.txt
Makefile
bin/
/build
*.TMP
.DS_STORE
Win7Debug
Win7Release
